
<select class=pSelector id="gameSelector" onchange="onGameSelected()">
  <option class=pOption value="-">What Game are you Playing?</option>
  {{#each Games}}
  <option class=pOption value="{{this}}">{{this}}</option>
  {{/each}}
</select>
