<div class="summaryrow">
  <p class="header top column1" id="roletitle">{{Role}}</p><div class="tooltip column0"><img id="download" src="img/download.png"><span class="tooltiptext">download</span></div>
</div>
<div class="hr"></div>
  Name: {{Name}}
<p id="roledescription">{{RoleDescription}}</p>
<br>
<p class="header">OBJECTIVE</p>
<div class="hr"></div>
<div>
  <img src={{ObjectiveIcon}} id="objectiveicon"><span id="objective">{{Objective}}</span><br>
  <p id="objectivedetails">{{ObjectiveDetails}}</p>
</div>
<br>
<p class="header">RELATIONSHIP</p>
<div class="hr"></div>
<img src={{RelationshipIcon}} id="relationshipicon"><span id="relationship">{{Relationship}}</span>
<p id="relationshipdetails">{{RelationshipDetails}}</p>
<br>
<p class="header">WORLD BUILDING</p>
<div class="hr"></div>
<p>{{WorldBuildingQuestion}}</p>
<p id="worldbuildinganswer">{{WorldBuildingAnswer}}</p>
<br>
<p class="header">QUIRK</p>
<div class="hr"></div>
<p id="quirk">{{Quirk}}</p>
<p id="quirkDetails">{{QuirkDetails}}</p>
<br>
<p class="header">ABILITY</p>
<div class="hr"></div>
<p id="ability">{{Ability}}</p>
<p id="abilityDetails">{{AbilityDetails}}</p>
<br>
<div class="header summaryrow"><div class="column1">Scenes</div><div class="column2">Descriptions</div></div>
<div class="hr"></div>
<p id="sdp">
  {{#each Scenes}}
    {{#ifodd @index}}
      <div class="summaryrow odd">
    {{else}}
      <div class="summaryrow even">
    {{/ifodd}}
        <div class="column1">{{scene}}{{#repeat Count}}<img src="img/unchecked.png" class="checkbox" id="{{id}}">{{/repeat}}</div>
        <div class="column2">{{description}}</div>
      </div>
  {{/each}}
</p>
<br>
<div class="header summaryrow"><div class="column0"></div><div class="column1">Milestones</div><div class="column2">Leverage</div></div>
<div class="hr"></div>
<p id="mlp">
  {{#each Milestones}}
    {{#ifodd @index}}
      <div class="summaryrow odd">
    {{else}}
      <div class="summaryrow even">
    {{/ifodd}}
        <div class="column1"><img src="img/unchecked.png" class="checkbox" id="milestone-{{@index}}"> {{milestone}}</div>
        <div class="column2">{{leverage}}</div>
      </div>
  {{/each}}
</p>
<br>
<div class="header summaryrow"><div class="column0"></div><div class="column1">Trepidations</div><div class="column2">Finale</div></div>
<div class="hr"></div>
<p id="mlp">
  {{#each Trepidations}}
    {{#ifodd @index}}
      <div class="summaryrow odd">
    {{else}}
      <div class="summaryrow even">
    {{/ifodd}}
        <div class="column1"><img src="img/unchecked.png" class="checkbox" id="trepidation-{{@index}}"> {{trepidation}}</div>
        <div class="column2">{{finale}}</div>
      </div>
  {{/each}}
</p>
